body {
    width: 900px;
    margin: 10px auto;
    font-size: 14px;
    font-family: Helvetica;
}

#logo {
}


#game {
    float: left;
}

#canvas {
    border: 1px solid #cecece;
    margin-bottom: 4px;
    border-radius: 5px;
}


#previewCanvas {
    border: 1px solid #cecece;
    margin-bottom: 4px;
    border-radius: 5px;
}

#chat {
    height: 470px;
    margin-left: 610px;
    border: 1px solid #cecece;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#responseList {
    flex-grow: 1;
    flex-shrink: 1;
}

#message {
    height: 60px;
    border-top: 1px solid #cecece;
    display: flex;
    flex-direction: row;
}

#messageTextArea {
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    margin: 10px;
}

#guessInput {
    width: calc(100% - 2px - 20px);
    padding: 10px;
    height: 40px;
    border: 1px solid #cecece;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}

#guessTextArea {
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    margin: 10px;
}

#guessDisplay {
    border: 1px solid #cecece;
    width: 600px;
    height: 140px;
    float: right;
}

#guessDisplay div {
    display: block;
    font-size: 1.8em;
    text-align: center;
    overflow: hidden;
    width: 33.33%;
    height: 18%;
    padding: 4% 0%;
    float: left;
    opacity: 0;
    vertical-align: middle;
    -webkit-transition: 3s opacity linear;
}

#guessDisplay div.fade {
    opacity: 1;
    -webkit-transition: none !important;
}

#colorPicker, #colorPicker div {
    display: inline-block;
} 

.blue {color: rgb(92, 140, 201)};
.teal {color: rgb(69, 214, 187)}; 
.yellow {color: rgb(224, 212, 85)};
.purple {color: rgb(224, 134, 232)};
.red {color: rgb(248, 113, 113)};
.babyblue {color: rgb(110, 201, 241)};
    