<!doctype html>
<html lang="is">
<head>
	<meta charset="utf-8" />
	<title>Angist!</title>
</head>
<body>
    <canvas width="600" height="400" id="canvas" style="border: 1px solid #cecece"></canvas>

    <button id="startRound">Start</button>
    <div id="secondsLeft">30</div>
    <br>
    <input type="text" id="guess" /><button id="guessButton">Gúess</button>
    
    <script src="socket.io.js"></script>
    <script src="PencilTool.js"></script>
    <script src="script.js"></script>
</body>
</html>