<!doctype html>
<html lang="is">
<head>
	<meta charset="utf-8" />
	<title>Angist!</title>
    <link rel="stylesheet" href="style/angist.css" type="text/css" media="screen">
</head>
<body>
<div id="container">
    <div id="header">
        <img src="angist.png" id="logo" width="150" height="150" alt="angist">
        <div id="guessDisplay">
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
        </div>
    </div>
    <div id="status">
      <div class="flip-container" id="flip-main">
        <div class="flipper">
          <div class="front">
            Giskaðu nú!
          </div>
          <div class="back">
            Þú átt að teikna: 
            <div id="current-word"></div>
            <canvas width="50" height="50" id="previewCanvas" style="display: none;"></canvas>
      
            <div class="draw-tools">
              <div id="colorPicker"></div>
    
              <div>
                  <button id="undoButton">Mistök</button>
                  <button id="increaseButton">Þykkja pensil</button>
                  <button id="decreaseButton">Grenna pensil</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <span id="score"></span>
      <span id="secondsLeft"></span>
      
      
    </div>
    <div id="game">
        <canvas width="600" height="400" id="canvas"></canvas>

        <div class="guess">
            <input id="guessInput" placeholder="Hvað er verið að teikna?" />
        </div>
    </div>
    <div id="chat">
        <ul id="responseList">
            <li class="response">
                <p>Bjossi</p>
                <p>Hallo hallo hallo</p>
            </li>
            <li class="response">
                <p>Tommi</p>
                <p>Blurgh</p>
            </li>
        </ul>
        <div id="message">
            <textarea id="messageTextArea" placeholder="Hvað ertu að pæla?"></textarea>
        </div>
    </div>
  </div>

    <script src="socket.io.js"></script>
    <script src="globals.js"></script>
    <script src="PencilTool.js"></script>
    <script src="GuessDisplay.js"></script>
    
    <script src="script.js"></script>
    <script src="test.js"></script>
</body>
</html>
